<article class="news">
    <div class="controls">
        <a href="/" class="button button--back">Back to list</a>
    </div>
    <div>
        {{#if user}}
            {{#user}}
                {{{username}}} &mdash; {{{name}}}
            {{/user}}
        {{/if}}
    </div>
    <ul class="news__list">
        {{#news}}
            <li class="news__item">
                <h3>{{{title}}}</h3>
                <p>{{{body}}}</p>
            </li>
        {{/news}}
    </ul>
    {{^if news}}
        {{{spinner}}}
    {{/if}}
</article>