<article class="news">
    <div class="controls">
        <a href="/" class="button button--back">Back to list</a>
    </div>
    <div>
        {{#if user}}
            {{#user}}
                {{{username}}} &mdash; {{{name}}}
            {{/user}}
        {{/if}}
    </div>
    <ul class="news__list">
        {{#items}}
            <li class="news__item">
                <h3>{{{title}}}</h3>
                <p>{{{body}}}</p>
            </li>
        {{/items}}
    </ul>
    {{#error}}
        <div class="error">{{{message}}}</div>
    {{/error}}
    {{^if items}}
        {{^if error}}
            {{{spinner}}}
        {{/if}}
    {{/if}}
</article>